u {
	cursor: pointer;
}
.card {
	cursor: pointer;
}
.card-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	z-index: 0;
}
.card-body {
	z-index: 1;
	color: white;
	backdrop-filter: blur(4px) brightness(50%);
	clip-path: inset(0 round 5px);
}
